{{ src }} contacted {{ targets }} {{ m.events }} times at a median interval of {{ m.median_interval_s }} s (beacon score {{ m.beacon_score }}, threshold {{ t.min_score }}; series {{ m.series }}; confidence {{ confidence }}). Regular timing alone does not show intent. {{ cites }}
